parameters:
    database_driver: pdo_pgsql
    database_host: localhost
    database_port: null
    database_name: ortofit
    database_user: ortofit
    database_password: ********

    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_encryption: tls
    mailer_user: **********
    mailer_password: **********

    secret: ThisTokenIsNotSoSecretChangeIt
