{% extends '::layout.html.twig' %}
{% block body %}
    <div style="text-align: center" class="container">
    <h2>Результат теста</h2>
    <p style="text-align: left">
        <strong>Предварительный диагноз:</strong>
    </p>
        {% if result.isPositive() %}
            <div style="padding-left: 15px"> Стопы здоровы и не требуют лечения.</div>
        {% else  %}
            <div style="padding-left: 15px">{{ result.getResult() }}. </div><br><br>
            <p style="text-align: left"><strong>Рекомендовано:</strong></p>
            <ul style="text-align: left">
                <li>Диагностическая плантоскопия.</li>
                <li>Консульация ортопеда.</li>
                <li>{{ result.getRecommendation()  }}.</li>
                <li>Целенаправленная лечебная гимнастика.</li>
                <li>Массаж.</li>
            </ul>



        {% endif %}

    <div>
        <br><br>
        <form method="post" action="">
            <input type="hidden" name="{{ stateId }}" value="{{ stateId }}">
            <input type="submit" class="btn btn-lg btn-success" value="Пройти еще раз">
        </form>
    </div>
    </div>
{% endblock %}