{% extends 'OrtofitQuizBundle:Quiz:index.html.twig' %}
{% block body %}
    {#<h1>{{ name }}</h1>#}
    {#<div>{{ content }}</div>#}
    <div>
        <form method="post" action="">
            <input type="hidden" name="{{ stateId }}" value="{{ stateId }}">
            <input type="submit" class="btn btn-lg btn-primary" value="Пройти еще раз">
        </form>
    </div>
{% endblock %}